<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail thumbnail4">
        <div class="caption">
            <h4>
                <a href="#">
                    Groupe 1
                </a>
            </h4>
                
            <p>
                Ceci est la description du groupe 1 !<br> Elle est super cool !
            </p>
                
            <h5>
                Nombre d'utilisateurs : 7
            </h5>
            <h5>
                Solde : -26€
            </h5>
        </div>
    </div>
</div>