<link rel="stylesheet" href="styles/form-elements.css">
<link rel="stylesheet" href="styles/style.css">
<link rel="stylesheet" href="styles/font-awesome.min.css">

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>TKT</strong> Login Form</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                                <div class="form-top-left">
                                        <h3>Login</h3>
                                </div>
                    </div>
                    <div class="form-bottom">
                                    <form role="form" class="login-form">
                                        <div class="form-group">
                                                <label class="sr-only" for="form-username">Username</label>
                                                <input ng-model="username" type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
                                        </div>
                                        <div class="form-group">
                                                <label class="sr-only" for="form-password">Password</label>
                                                <input ng-model="password" type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                                        </div>
                                        <button class="btn">Sign in!</button>
                                    </form>
                            </div>
                </div>
            </div>
        </div>
    </div>

</div>