<section class="main">
    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">lanuitdelinfoFront</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   <section id="content">
       <div id="page-content-wrapper">
           <section ui-view></section>
       </div>
   </section>
    
   <div class="footer">
      <div class="container-fluid">
        La nuit de l'info 2016
      </div>
    </div>
</section>